<h1>Editing saying</h1>

<% form_for(@saying) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :quote %><br />
    <%= f.text_field :quote %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @saying %> |
<%= link_to 'Back', sayings_path %>