!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
  %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  %title Gamez
  = stylesheet_link_tag "main", :media => "all"
  %body
    %div.personalBar
      - if current_user
        Logged in as 
        = link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user)
        = ", #{current_user.role.name}.&nbsp&nbsp&nbsp"
        = link_to "Logout", logout_path
      - else
        = link_to "Register", new_user_path 
        | 
        = link_to "Login", login_path
  
    - if flash[:notice]
      %div.flashNotice
        = flash[:notice] 
    - if flash[:error]
      %div.flashError
        = flash[:error]
    #main
      %h1 Gamez       
      = yield
