- form_for @user, :multipart => true do |f|
  = f.error_messages
  - if(request.path_parameters[:action]=="edit")
    %p
      = image_tag @user.photo.url
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label :photo
    = f.file_field :photo
  - if(request.path_parameters[:action]=="new")
    %p
      = f.label "Human check"
      = recaptcha_tags
  - if permitted_to? :destroy, @user
    %p 
      = f.label "Role"
      = f.collection_select(:role_id, Role.all, :id, :name,{:selected => @user.role_id})
  %p
    = f.submit "Submit"
