%h1 Listing sayings
%table
  %tr
    %th Quote
  - @sayings.each do |saying|
    %tr
      %td= h saying.quote
      %td= link_to 'Show', saying
      %td= link_to 'Edit', edit_saying_path(saying)
      %td= link_to 'Destroy', saying, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New saying', new_saying_path
