- form_for @user, :url => { :action => "update" }, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = image_tag @user.photo.url, :height => 100
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label :photo
    = f.file_field :photo
  -if(current_user.id != @user.id)
    %p 
      = f.label "Role"
      = f.select :role_id, options_for_select([["admin", 1], ["member",2]], {:selected => @user.role_id})
  %p
    #userSubmit= f.submit "Save Changes"
