= f.error_messages

%p
	= f.label :title
	= f.text_field :title
%p
	= f.label "Author name"
	= f.collection_select :author_id, @authors, :id, :author_name
%p
	= f.label :body
	= f.text_area :body