<%= link_to image_tag("arrow_left.png")+" back", session[:last_page],:title => "Goes to previous page" %>

<h1>Editing "<%= @article.title %>"</h1>
<div id="edit-table">
	<% form_for(@article) do |f| %>
	  <%= f.error_messages %>
	  
	  <p>
		 <%= f.label :title %>
		 <%= f.text_field :title %>
	  </p>
	  <p>
		 <%= f.label :author %>
		 <%= f.text_field :author %>
	  </p>
	  <p>
		 <%= f.label :body %>
		 <%= f.text_area :body %>
	  </p>
	  <p id="submit">
		 <%= f.submit 'Save Changes' ,:title => "Submit changes"%>
	  </p>
	<% end %>

</div>