#articles
  %h2 All the World's Articles
  %span#add-Article
  = link_to image_tag("add.png")+"Create an Article", new_article_path,:title => "Create a new article"
  #article-list
    %table
      %thead
        %tr
          %th.header Title
          %th.header Author Name
          %th.header Body
          %th.header Creation Date
          %th.icons 
        %tbody
          - @articles.each do |article|
            %tr{:class => cycle('list-line-odd','list-line-even')}
              %td= h truncate(article.title, :length => 25)
              %td= h truncate(article.author, :length => 25)
              %td.body= h truncate(article.body, :length => 45)
              %td= h article.created_at.to_s(:create_time)
              %td.icons
                %ul
                  %li= link_to image_tag("magnifier.png"), article,{ :title => "View article" }
                  %li= link_to image_tag("report_edit.png"), edit_article_path(article), { :title => "Edit article" }
                  %li= link_to image_tag("delete.png"), article, :title => "Deletes article", :confirm => "Are you sure?", :method => :delete
  
  %p
    = pluralize(@articles.size, "article")