#edit-actions
  = link_to image_tag("arrow_left.png")+"  list all articles", articles_path,:title => "Goes to front page"
  = link_to image_tag("report_edit.png")+" edit", edit_article_path(@article),:title => "Edit this article"
  = link_to image_tag("delete.png")+" delete", @article, :title => "Deletes article",:confirm => 'Are you sure?', :method => :delete
  = mail_to("",image_tag("email.png")+" email",:subject =>@article.title, :body => request.url, :title => "Opens email editor")
%p
  %h2= h @article.title
  %br/
  by #{h @article.author}. #{pluralize(@article.updates, "edit")} since #{@article.created_at.to_s(:show_time)}.
%p
  = h simple_format(@article.body)
